footer{
    background-color:lawngreen;
    color:#fff;
    width: 100%;
} 

#mytitle{
    color: deeppink;
}

#myslides h1{
    color: black;
}

#myslides h5{
    color: blue;
}

#myslides img{
    background: rgba(0,0,0,0.2);
    
}

.car-image-size{
    width: 100%;
    height: 70vh;
 }

.jumbotron
{
    background-color: darkcyan;
}

#myImage{
    border: 2px solid red;
    border-radius: 15px;
}

p{
    font-family: 'Roboto', sans-serif;
    }
    


